DJANGO_SECRET_KEY=replace-with-a-long-random-value
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Production examples:
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=bazikhooneh
# DB_USER=bazikhooneh
# DB_PASSWORD=replace-me
# DB_HOST=127.0.0.1
# DB_PORT=5432
# REDIS_URL=redis://127.0.0.1:6379/0
