[Unit]
Description=Run BaziKhooneh cleanup every hour

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
