<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <application
        android:name=".BaziKhoonehApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaziKhooneh"
        android:usesCleartextTraffic="${usesCleartextTraffic}"
        tools:targetApi="31">
        <service android:name=".NotificationJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false" />
        <service android:name=".CallKeepAliveService" android:exported="false"
            android:foregroundServiceType="microphone" />
        <activity android:name=".RegisterActivity" android:exported="false" android:label="@string/account_register" />
        <activity android:name=".CommunityRoomsActivity" android:exported="false" android:label="@string/community_rooms_title" />
        <activity android:name=".CommunityRoomActivity" android:exported="false" android:label="@string/community_room_title" />
        <activity android:name=".RoomEventsActivity" android:exported="false" android:label="@string/room_history" />
        <activity android:name=".LeaderboardActivity" android:exported="false" android:label="@string/leaderboard_title" />
        <activity android:name=".VoiceCallActivity" android:exported="false" android:label="@string/voice_call_title" android:launchMode="singleTop" />
        <activity android:name=".UsernameChangeActivity" android:exported="false" android:label="@string/change_username_title" />
        <activity android:name=".EmailVerificationActivity" android:exported="false" android:label="@string/email_security_title" />
        <activity android:name=".PasswordChangeActivity" android:exported="false" android:label="@string/change_password_title" />
        <activity android:name=".SessionsActivity" android:exported="false" android:label="@string/sessions_title" />
        <activity android:name=".DeleteAccountActivity" android:exported="false" android:label="@string/delete_account_title" />
        <activity android:name=".NotificationsActivity" android:exported="false" android:label="@string/notifications_title" />
        <activity android:name=".SafetyActivity" android:exported="false" android:label="@string/safety_title" />
        <activity android:name=".LudoMenuActivity" android:exported="false" android:label="@string/ludo_title" />
        <activity android:name=".LudoGuideActivity" android:exported="false" android:label="@string/ludo_guide_title" />
        <activity android:name=".LudoActivity" android:exported="false" android:label="@string/ludo_title" />
        <activity android:name=".LudoOnlineLobbyActivity" android:exported="false" android:label="@string/ludo_online_title" />
        <activity android:name=".LudoOnlineActivity" android:exported="false" android:label="@string/ludo_online_title" />
        <activity android:name=".FriendsActivity" android:exported="false" android:label="@string/friends_title" />
        <activity android:name=".AccountSecurityActivity" android:exported="false" android:label="@string/account_security_title" />
        <activity android:name=".PasswordResetActivity" android:exported="false" android:label="@string/forgot_password" />
        <activity android:name=".TicTacToeGuideActivity" android:exported="false" android:label="@string/tic_tac_toe_guide_title" />
        <activity android:name=".OnlineLobbyActivity" android:exported="false" android:label="@string/online_lobby_title" />
        <activity android:name=".TicTacToeMenuActivity" android:exported="false" android:label="@string/tic_tac_toe_title" />
        <activity android:name=".LoginActivity" android:exported="false" android:label="@string/account_title" />
        <activity android:name=".GuideActivity" android:exported="false" android:label="@string/guide_title" />
        <activity android:name=".SettingsActivity" android:exported="false" android:label="@string/settings_title" />
        <activity android:name=".ProfileActivity" android:exported="false" android:label="@string/profile_title" />
        <activity
            android:name="ir.codelighthouse.bazikhooneh.MainActivity"
            android:exported="false"
            android:label="@string/tic_tac_toe_title" />
        <activity android:name=".LanguageActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ir.codelighthouse.bazikhooneh.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bazikhooneh" android:host="room" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="bazikhooneh.codelighthouse.ir"
                    android:pathPrefix="/rooms/" />
            </intent-filter>
        </activity>
    </application>


</manifest>
